<!DOCTYPE html>
<html>
<head>
    <title>Объемы геометрических фигур с заданной точностью</title>
    
</head>
<body>
    <h1>Объемы геометрических фигур с заданной точностью</h1>
    <form action="/paralel" method="post">
        <input type="submit" value="Параллелепипед">
    </form>
    <form action="/piramid" method="post">
        <input type="submit" value="Пирамида">
    </form>
    <form action="/cilin" method="post">
        <input type="submit" value="Цилиндр">
    </form>
    <label>Здесь вы можете узнать объем геометрических фигур с заданной точностью</label>
</body>
</html>